{% macro render_pagination(pagination, endpoint) %}
    {% if pagination.has_prev %}
        <a href="{{ url_for(endpoint, page=pagination.prev_num) }}">上一页</a>
    {% endif %}
    {%- for page in pagination.iter_pages() %}
        {% if page %}
            {% if page != pagination.page %}
                <a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
            {% else %}
                <strong>{{ page }}</strong>
            {% endif %}
        {% else %}
                <span class=ellipsis>…</span>
        {% endif %}
    {%- endfor %}
    {% if pagination.has_next %}
        <a href="{{ url_for(endpoint, page=pagination.next_num) }}">下一页</a>
    {% endif %}
{% endmacro %}

{% macro render_form_item(form_item) %}
    <tr>
        <td>{{form_item.label}}</td>
        <td>{{form_item()}}</td>
    </tr>
{% endmacro%}
